.input{
    border: solid 3px black;
}

.input__textbox{
    height: 1.8rem;
    width: 80%;
    border: 2px solid black;
    border-radius: 2px;
}

.input__add-button{
    width: 17%;
    height: 2rem;
    border: 2px solid black;
}